container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_seed_amenities:
    command: "django_admin.py seed_amenities.py
  03_seed_facilities:
    command: "django_admin.py seed_facilities.py
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings