container_commands:
  01_migrate:
    command: "django-admin.py migrate"
  02_compilemessages:
    command: "django-admin.py compilemessages"
  03_createsu:
    command: "django-admin.py createsu"
  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  05_seed_users:
    command: "python manage.py seed_users"
  06_seed_amenities:
    command: "python manage.py seed_amenities"
  07_seed_facilities:
    command: "python manage.py seed_facilities"
  08_seed_rooms:
    command: "python manage.py seed_rooms"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings